@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --orange: #d98726;
  --text-light: #968c84;
  --text-dark: #615954;
}



*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.linkBar {
  display: flex;
  justify-content: space-around;
  /* border: solid white; */
  width: 800px;
}

body {
  /* min-width: 1000px; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #474747;
  height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}



.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  width: 50%;
  padding: 3vmin;
  background-color: rgba(57, 8, 8, 0.3);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

p {
  color: white;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important;
  /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(blue);
}

button,
a.button {
  margin: 10px;
  padding: 10px;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

input[type="submit"] {
  cursor: pointer;
}

.createNewCard {
  color: white !important;
  width: 500px;
  /* border: solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: sc;

}

.newCardButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://i.imgur.com/KXYpzrP.jpg);
  background-size: cover;
  height: 75.6%;
  /* width: 100vw; */
}

#black {
  background-color: black !important;
}

.createNewCard>p {
  color: black !important;
}

.newCardOuterWrapper {
  width: 100vw;
  height: auto;
  /* border: solid green; */
  display: flex;
  justify-content: center;
  /* overflow: scroll; */
}

input.largeCheckBox {
  width: 40px;
  height: 40px;
}

textarea {
  width: 500px;
  height: 250px;
}

#indexCardDetail {
  color: black;
}

.indexCard {
  background-color: #E0E0CE;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  width: 200px;
  height: 300px;
  margin: 15px;
}

.indexCardNumber {
  background-color: red;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 2.5em;
  font-weight: bold;
}

.clueIndexCardNumber {
  background-color: orange;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 2.5em;
  font-weight: bold;
}

.indexPage {
  /* border: solid 10px gray;
  border-radius: 10px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* border: solid blue 1px; */
  width: 100vw;
  height: 100%;
  /* border: solid red; */
  /* overflow: scroll; */
}

.cardBox {
  /* scrollbar-width: 1px; */
  z-index: 5;
  position: absolute;
  width: 50vw;
  min-width: 50vw;
  height: 80vh;
  /* min-height: 800px; */
  /* border: solid red; */
  background-color: #d5bd9a;
  border: solid rgb(255, 174, 24) 5px;
  right: 0;
  top: 0;
  padding: 30px;
  border-radius: 15px;
  font-size: 12px;
  overflow: auto;
  transition-property: opacity, right;
  transition-duration: 1s;
  filter: drop-shadow(0 0 2rem black);
  ;
}

.cardImage {
  width: 500px;
}

.clueBox {
  scrollbar-color: #e2cfab;
  position: absolute;
  width: 32vw;
  /* min-width: 400px; */
  height: 400px;
  min-height: 400px;
  /* border: solid red; */
  background-color: #e2cfab;
  right: 0;
  bottom: 0;
  display: flex;
  color: black;
  flex-direction: column;
  margin-top: 10%;
  padding: 30px;
  border-radius: 15px;
  font-size: 12px;
  overflow: auto;
  /* overflow: scroll; */
  transition-property: opacity, right;
  transition-duration: 1s;
  filter: drop-shadow(0 0 2rem black);
  z-index: 6;
  border: red solid 3px;
}

.clueBox:hover {
  filter: drop-shadow(0 0 2rem black);
}

.hidden {
  opacity: 0%;
}

main {
  background-image: url("https://i.imgur.com/Z5gkzPu.jpgs");
  /* border: solid black 15px; */
  height: 75%;
}

.signInBlock {
  height: 76.1%;
  background-image: url(https://i.imgur.com/29mXZUA.png);
  background-size: cover;
  /* display: flex; */
}

.innerSignIn {
  height: 100%;
  /* display: flex; */
  width: 100%;
}

.App {
  /* background-image: url("https://i.imgur.com/Z5gkzPu.jpgs"); */
  /* border: solid black 15px; */
  height: 100%;

}

.chapNumBox {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.gameBoard {
  /* border: solid blue; */
  display: flex;
  justify-content: center;
}

.deck {
  z-index: 1;
  cursor: pointer;
  height: 300px;
  width: 220px;
  margin-top: 150px;
  margin-right: -700px;
  filter: drop-shadow(0 0 1rem black);
}

.deck:hover {
  filter: drop-shadow(0 0 1rem rgb(173, 171, 171));
}

.board {
  z-index: 1;
  /* border: solid 10px red; */
  cursor: pointer;
  position: absolute;
  width: 400px;
  height: 600px;
  margin-top: 100px;
  /* margin-left: 100px; */
}

.clue {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  margin-left: 350px;
  margin-top: 500px;
  width: 200px;
  height: 200px;
  filter: drop-shadow(0 0 1rem black);
}

.clue:hover {
  filter: drop-shadow(0 0 1rem rgb(146, 146, 146));
}

.logo {
  font-size: 2rem;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  width: 60%;
  border: solid white 2px;
  background-color: red;
  border-radius: 50px;
  height: 40px;
}

header {
  height: 10%;
  background-image: linear-gradient(rgb(53, 53, 53), #000000);
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 7;
  border-bottom: solid 5px gray;
}

.yellowIcon {
  height: 100px;
  position: absolute;
  transition-property: all;
  transition-duration: 1s;

}

.redIcon {
  height: 80px;
  position: absolute;
  margin-left: -140px;
  transition-property: all;
  transition-duration: 1s;
}

.red2 {
  margin-top: 445px;
}

.red1 {
  margin-top: 490px;
}

.red3 {
  margin-top: 410px;
}

.red4 {
  margin-top: 370px;
}

.red5 {
  margin-top: 335px;
}

.red6 {
  margin-top: 295px;
}

.red7 {
  margin-top: 265px;
}

.red8 {
  margin-top: 220px;
}

.yellow1 {
  margin-top: 580px;
}

.yellow2 {
  margin-top: 545px;
}

.yellow3 {
  margin-top: 510px;
}

.yellow4 {
  margin-top: 485px;
}

.yellow5 {
  margin-top: 450px;
}

.yellow6 {
  margin-top: 420px;
}

.yellow7 {
  margin-top: 390px;
}

.yellow8 {
  margin-top: 355px;
}

.yellow9 {
  margin-top: 325px;
}

.yellow10 {
  margin-top: 295px;
}

.drawer {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 400px;
  height: 750px;
  margin-top: 70px;
  transition-property: all;
  transition-duration: 1.5s;
}

.drawerPic {
  position: absolute;
  left: 0;
  width: 400px;
  height: 750px;
  z-index: 0;
}

.openControls {
  position: absolute;
  left: 45px;
  margin-top: 450px;
  /* transform: rotate(270deg); */
  z-index: 0;
}

.controls {
  position: absolute;
  left: 280px;
  margin-top: 80px;
  z-index: 5;
}

.closeWindow {
  background-color: black;
  padding-top: 2px;
  padding-bottom: 4px;
}

.music {
  background-color: black;
}

.counterWrapperRed {
  /* position: absolute;
  margin-left: 60px; */
  z-index: 4;
  /* margin-top: -520px; */
  display: flex;
  flex-direction: column;
  padding: 0;
}

.counterWrapperYellow {
  /* position: absolute;
  margin-left: 60px; */
  z-index: 4;
  /* margin-top: -320px; */
  display: flex;
  flex-direction: column;
  padding: 0;
}

.counterButtons {
  margin-bottom: -20px;
}

.readout {
  color: white;
  border: solid .5px white;
  margin-left: -10px;
  margin-right: -10px;
  background-color: black;
  padding-top: 18px;
  padding-bottom: 12px;
  padding-right: 5px;
  padding-left: 5px;
  width: 100px;
}

.drawerContents {
  position: absolute;
  display: flex;
  /* border: solid white; */
  height: 500px;
  width: 345px;
  margin-top: 130px;
  flex-direction: column;
  align-items: center;
  z-index: 4;
  justify-content: space-around;
}

.reset {
  padding: 0;
  background-color: gray;
}

.cardClose {
  height: 40px;
}

.clueClose {
  height: 40px;
}

.pagination {
  /* border: solid red 1px; */
  display: flex;
  font-size: 2em;
  cursor: pointer;
  justify-content: center;
}

.page-item {
  color: white;
  height: 50px;
  width: 50px;
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  background-color: red;
  border-radius: 50%;
}

/* Flaired edges, by Tomas Theunissen */

hr {
  background-color: black;
  border-color: black;
  border: none;
  height: 2px;
}

.cardDescription {
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  font-size: 2em;
  white-space: pre-wrap;
}

.choiceOrReturn {
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  font-size: 2.5em;
}

.clue-description {
  text-align: center;
  color: black;
  font-size: 1.5em;
  white-space: pre-wrap;
}

.cardOption {
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  font-size: 2em;
  cursor: pointer;
  text-align: right;
}

.optionDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vision {
  /* border: solid 10px red; */
  position: absolute;
  margin-top: 50px;
  z-index: 3;
  width: 500px;
  margin-left: 415px;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
}

footer {
  bottom: 0;
  width: 100%;
  height: 15%;
  color: white;
  background-color: black;
}

#red {
  background-color: red;
}

#clickable {
  cursor: pointer;
  color: green !important;
}

.clickable {
  cursor: pointer;
}

.rowDiv {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around;
  position: relative;
  width: 100% !important;
  min-width: 1000px;
  border-top: solid 5px gray;
}

li {
  list-style-type: none;

  cursor: pointer;
}

li:hover {
  color: orange;
}

.user {
  /* border: solid white .5px; */
  margin-left: 80px;
  margin-top: -20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  height: 8%;
}

.logoutButton {
  border: solid 1px white;
  width: 100px;
  text-align: center;
  padding: 1px;
  border-radius: 25px;
  cursor: pointer;
}

.feedback-wrapper {
  height: 73.2%;
}

.blog-background {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid red 1px;
  width: 100vw;
  height: 76%;
  overflow: auto;
}

.blog-post {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* border: solid blue 10px; */
  width: 75%;
  height: 1000px;
}

.blog-title {
  color: white;
}

.blog-content {
  font-size: 2em;
  text-align: center;
}

.commentBlock {
  /* border: solid red 1px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment {
  border: solid white 1px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.dice {
  width: 100px;
  height: 120px;
  position: absolute;
  margin-left: -300px;
  margin-top: 350px;
  z-index: 1;
  cursor: pointer;
}

.comment-title {
  border: solid white 1px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /* padding-top: -15px; */
  font-size: 1.8em;
  text-align: center;
  background-color: #414833;
}

.comment-user {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border: solid white 1px;
  width: 100%;
  height: 60px;
  text-align: right;
  font-size: 1.2em;
  padding: 10px;
  background-color: #414833;
}

.comment-content {
  white-space: pre-wrap;
  border: solid white 1px;
  width: 100%;
  height: 200px;
  font-size: 1.3em;
  padding: 10px;
  background-color: #6b705c;
}

.blog-wrapper {
  /* overflow-x: hidden; */
  width: 100%;
  background-color: #283618;
}

.blog-inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-wrapper {
  display: flex;
  border: 1px white solid;
  width: 60%;
  padding: 10px;
}

.form-outter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

/* .submit-button {
  display: flex;
  border: solid 2px blue;
  width: 100%;
  margin-left: 180%;
  justify-content: center;
  align-items: center;
} */

.enter-comment {
  width: 95%;
}

.enter-comment-content {
  width: 95%;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 40px;
  font-size: 1.3em;
  /* color: black; */
  background-color: darkred;
}

.dice-roll-block {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: black;
  margin-right: 600px;
  margin-top: 500px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid 1px white;
}

.dice-roll-container {
  border: solid white 1px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  height: 80px;
  width: 80px;
}